.navbar{
    padding-bottom: 0;
    .navbar-brand{
        color: rgb(85, 53, 53);
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
               &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}

.active-link{
    border-bottom: 1px solid blue;
    font-weight: 700;
}