<div class="wrapper">
    <div class="container bg-blue bdr-blue mt-5 py-3">
        <h3>Start digging...</h3>
    </div>
    <div class="container bg-grey bdr-grey form-wrapper p-4">
        <ng-container [formGroup]="searchForm">
            <ng-container formArrayName="searchFields">
                <ng-container *ngFor="let formCtrl of getSearchFieldsArr().controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <select class="form-select fs-12" formControlName="attribute" (change)="getAttributeValueInput(idx)">
                                    <option value="null" disabled>
                                        Select Criteria
                                    </option>
                                    <option
                                        *ngFor="let searchDataObj of searchData.searchByList"
                                        value="{{searchDataObj.id}}"
                                    >
                                        {{searchDataObj.value}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <ng-container *ngIf="getAttributeConfig(idx) as fieldOptions">
                                    <ng-container *ngIf="fieldOptions.inputType === 'text'">
                                        <input 
                                            type="text" 
                                            class="form-control fs-12"
                                            placeholder="{{ fieldOptions.placeholder }}"
                                            formControlName="attributeValue"
                                        >
                                    </ng-container>
                                    <ng-container *ngIf="fieldOptions.inputType === 'select'">
                                        <select class="form-select fs-12" formControlName="attributeValue">
                                            <option value="null" disabled>
                                                {{fieldOptions.placeholder}}
                                            </option>
                                            <option
                                                *ngFor="let opt of fieldOptions.options"
                                                value="{{opt.id}}"
                                            >
                                                {{opt.value}}
                                            </option>
                                        </select>
                                    </ng-container>
                                    <ng-container *ngIf="fieldOptions.inputType === 'date'">
                                        <div class="row" formArrayName="attributeValue">
                                            <div class="col-md-6">
                                                <input 
                                                    type="date" 
                                                    formControlName="0" 
                                                    class="form-control"
                                                    placeholder="{{fieldOptions.placeholder.start}}"
                                                    #startDate
                                                    (change)="enableDate(idx)"
                                                >
                                            </div>
                                            <div class="col-md-6">
                                                <input 
                                                    type="date" 
                                                    formControlName="1" 
                                                    class="form-control"
                                                    placeholder="{{fieldOptions.placeholder.end}}"
                                                    [min]="startDate.value"
                                                >
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 d-flex">
                                        <i 
                                            *ngIf="getIsFirstRowValueSet() && getSearchFieldsArr().controls.length > 1"
                                            class="bi bi-x-circle-fill me-4 align-self-center"
                                            (click)="removeControlFromForm(idx)"
                                        ></i>
                                        <i 
                                            *ngIf="getIsLastRow(idx) && enableAddIcon(idx)"
                                            id="addIcon{{idx}}"
                                            class="bi bi-plus-circle-fill me-4 align-self-center"
                                            (click)="addMoreAttributeToForm()"
                                        ></i>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="radio" value="AND" formControlName="operator" class="d-none">
                                        <input type="radio" value="OR" formControlName="operator" class="d-none">
                                        <input type="radio" value="NOT" formControlName="operator" class="d-none">

                                        <input type="button" value="And" 
                                            class="{{getOperationClass(idx, 'AND')}} btn fs-12 btn-operation me-2"
                                            (click)="updateOperation($event, idx, 'AND')"

                                        >
                                        <input type="button" value="Or" 
                                            class="{{getOperationClass(idx, 'OR')}} btn fs-12 btn-operation me-2"
                                            (click)="updateOperation($event, idx, 'OR')"
                                        >
                                        <input type="button" value="Not" 
                                            class="{{getOperationClass(idx, 'NOT')}} btn fs-12 btn-operation"
                                            (click)="updateOperation($event, idx, 'NOT')"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
